// Bootstrap
@use "bootstrap/scss/bootstrap" as *;

// Sidebar Styles
.sidebar {
    width: 250px;
    min-height: 100vh;
    position: relative;
    
    @include media-breakpoint-up(md) {
        position: static;
        display: flex !important;
        visibility: visible;
        transform: none;
    }
    
    @include media-breakpoint-down(md) {
        width: 280px;
    }
    
    .nav-link {
        border-radius: 0.375rem;
        margin-bottom: 0.25rem;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
        
        &.active {
            background-color: var(--bs-primary);
            color: var(--bs-white);
        }
    }
}